@model LapLich.Models.MonHoc

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/css/deleteMH.css" rel="stylesheet" />

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>MonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
